<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet"
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>

<body>
    <section class="nav">
        <h2>Bubble Calendar</h2>
        <ul>
            <li><a id="today_btn">Today</a></li>
            <li><a id="prev_btn">Previous</a></li>
            <li><a id="next_btn">Next</a></li>
            <li><a id="logout_btn">Logout</a></li>
        </ul>
    </section>

    <section class="main-content">
        <div class="left-side">

            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="AddTaskbtn">Add Event</button>
            <div class="delete-task-form">
                <form id="delete_form" autocomplete="off">
                    <div class="autocomplete">
                        <input id="myInput" type="text" name="id" placeholder="Search Event">
                    </div>
                    <input id="delete-submit" type="submit" value="Delete" class="delete-submit">
                </form>
            </div>


            <!-- The Recent Tasks Category -->
            <div id="recent-tasks" class="recent-tasks">
                <h2>Today's Events:</h2>
                <div class="event-container" id = "event-container">

                </div>
            </div>


        </div>

        <div class="right-side">
            <div class="calendar" id="calendar">

            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Create Event</h2>
            </div>
            <div class="modal-body">
                <form class="form-style-8" id='create_task_form'>

                    <input placeholder="Task Description" class="description" id="task_description" name="description"
                        type="text" required>

                    <select onchange="getnumdays()" placeholder="Month" id="month_select" class="month" name="month"
                        type="number" required>
                        <option id="month_placeholder" class="form-dropdown-default-value">Month</option>
                        <option value="0">January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">December</option>
                    </select>

                    <select placeholder="Year" id="year_select" class="year" name="year" type="number" required>
                        <option vlaue="2019" selected>2019</option>
                        <option vlaue="2020">2020</option>
                        <option vlaue="2021">2021</option>
                        <option vlaue="2022">2022</option>
                        <option vlaue="2023">2023</option>
                        <option vlaue="2024">2024</option>
                    </select>


                    <select placeholder="Day" class="date" id="date" name="date" type="number" required>

                    </select>

                    <input class="ModalSubmit" type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <h3>by Philip Clement</h3>
            </div>
        </div>

    </div>


</body>

<script src="/js/homepage.js"></script>

</html>